/* global css */

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    /* -webkit-font-smoothing: "Roboto", sans-serif; */
    /* -moz-osx-font-smoothing: "Roboto", sans-serif; */
    font-style: normal;
}


h1, h2, h3, h4, h5, h6, p {
    margin:0;
}

.solid-bar {
  background-color: var(--primary);
  width: 80%;
  height: 20px;
  margin-left: auto;
  margin-right: auto;
}

:root {
    /* --primary: #5e3bee; */
    --primary: #0033CC;
    --secondary: #90EE90;  
    --heading--color: #282938;
    --bg-shade: #DCEBEC;
    --github: #e62872;
    --darkblue: #1c1e53;
    --black: #000000;
    --white: #ffffff;
    --grey: #F5FFFC;
    --grey--text: #DCDCDC;
    
    }

    /* add webkit moz osx if needed */
.btn {
    font-family: "Roboto";
    display: inline-block;
    padding: 14px 32px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.5s;
}

.btn-outline-primary {
    color: var(--primary);
    background-color: var(--white);
    border: 1px solid var(--primary);
}

.btn-outline-primary:hover {
    color: var(--white);
    background-color: var(--primary);
}

.btn-primary {
    color: var(--white);
    background-color: var(--primary);
    border: 1px solid var(--primary);
}

.btn-primary:hover {
    color: var(--primary);
    background-color: var(--white);
}

.rounded-image {
    border-radius: 50%;
    overflow: hidden;
    width: 140px;
    height: 140px;
    position: relative;
}

/* global css section end */ 

/* main headings  */
h1 {
    font-size: 56px;
    font-weight: 700;
    line-height: 67px;
}

h2 {
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
}

h3 {
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
}

h4 {
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
}


/* paragraph text small med large  */
.text-sm {
    color: var(--darkblue);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
}

.text-md {
    color: var(--darkblue);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.text-lg {
    color: var(--darkblue);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
}

/* about us */
.section-title {
    color: var(--heading--color);
    font-size: 21px;
    text-align: center;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    display: flex;
}

/* contact us
.section-sub-title {
    color: var(--heading--color);
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
} */

/* navbar style start  */

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px 85px;
    background: var(--white);
    box-shadow: 0px 5px 60px 0px rgb(0, 0, 0);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.navbar-items > ul {
    list-style: none;
    display: flex;
    align-items: flex-start;
    gap: 82px;
    text-decoration: none;
    }

.navbar-items ul > li > a {
    text-decoration: none;
    }

/* navbar content  */
.navbar-content{
    color: var(--darkblue);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    cursor: pointer;
}

.navbar-active-content {
    color: var(--primary);
}


/* Hero section style */
.hero-section {
    display: block;
    padding: 133px 85px 80px;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
    background-color: var(--grey);
    height: 100%;
    }

.hero-section-content-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.hero-section-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 21px;
}

.hero-section-content-box > button {
    margin-top: 21px;
}

.hero-section-title {
    color: var(--primary);
    font-size: 74;
    font-weight: 700;
    line-height: 90px;
    align-self: center;
}

.hero-section-title-color {
    color: var(--primary);
}

.hero-section-description {
    color: var(--black);
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
}

.hero-section-img {
    display: flex;
    align-items: center;    
}

.hero-section-img > img {
    padding-top: 2%;
    padding-bottom: 2%;
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    /* height: 100%; */
}

/* hero section ends  */

/* instructor section style  */

.instructor-section{
    display: flex;
    padding: 50px 150px 100px 150px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 60px;
}

.instructor-section-heading{
    color: var(--heading--color);
    font-size: 48px;
    font-weight: 700px;
    line-height: 60px;
    align-self: center;
}

.portfolio-container {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.instructor-section-container{
    display: grid;
    justify-content: stretch;
    align-self: center !important;
    gap: 20px 30px;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-columns: repeat(3, minmax(0, 1fr)); */
}

.instructor-section-card {
    display: flex;
    padding: 30px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    flex: 1 0 0;
    border-radius: 30px;
    background: var(--bg-shade);
    min-height: 250px;
}

.instructor-section-img {
    display: flexbox;
    padding: 2px;
    justify-items: center;
    align-items: center;
    border-radius: 50%;
    background: black;
}

.instructor-section-card-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: flex-start;
}

.instructor-section-title {
    color: var(--heading--color);
    font-size: 32px;
    font-weight: 700;
    line-height: 45px;
    }

.instructor-section-description {
    color: var(--black);
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

/* instructor section ends  */

/* about us section starts */


.about-section {
    display: block;
    padding: 50px 150px 50px 150px;
    align-items: center;
    gap: 32px;
    background-color: var(--primary);
}

.about-section-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 21px;
    justify-content: flex-start;
    width: 100%;
}

.about-section-title {
    color: var(--white);
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    align-self: stretch; 
    justify-content: center;
    padding-bottom: 20px;
    text-align: center;
}

.about-section-description {
    color: var(--grey--text);
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    text-align: center;
}

.fields-section-container{
  display: grid;
  justify-content: stretch;
  align-self: center !important;
  gap: 43px;
  grid-template-columns: repeat(5, 1fr);
  padding-top: 50px;
  padding-bottom: 20px;
}

.fields-section-card {
  display: flex;
  padding: 10px;
  flex-direction: column;
  align-items: center;
  gap: 1px;
  flex: 1 1 0;
  border-radius: 5px;
  background: var(--grey);
  max-height: 200px;
}

.fields-section-img {
  display: flexbox;
  padding: 5px;
  justify-content: center;
  align-items: center;
}

.fields-title {
  color: var(--heading--color);
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  justify-self: center;
  }


/* course section start */

.course-section{
    display: flex;
    padding: 50px 85px 50px 85px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
}

.course-section-heading{
    color: var(--heading--color);
    font-size: 48px;
    font-weight: 700px;
    line-height: 60px;
    padding-bottom: 20px;
}

.course-section-subheading {
  color: var(--heading--color);
  font-size: 16px;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  display: flex;
}

.course-container {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.course-section-container{
    display: grid;
    justify-content: center;
    align-items: flex-start;
    gap: 43px;
    grid-template-columns: repeat(2,1fr);
}

.course-section-card {
    display: flex;
    padding: 32px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px 32px 32px 32px;
    flex: 1 0 0;
    border-radius: 10px;
    background: var(--bg-shade);
    min-height: 200px;
}

/* .course-section-card:hover .course-section-material {
    display: inline !important;
} */

.course-section-card .course-section-material {
  display: inline;
}

.course-section-material {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

.course-section-card-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
}

.course-section-title {
    color: var(--heading--color);
    font-size: 36px;
    font-weight: 700;
    line-height: 45px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1px; 
    padding-bottom: 20px;
    }

.course-section-description {
    color: var(--heading--color);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

/* contact us section starts */


.contact-section {
    align-items: center;
    gap: 32px;
    background-color: var(--primary);
}

.contact-section-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 21px;
    justify-content: flex-start;
    padding: 30px 100px 30px 500px;
}

.contact-section-title {
    color: var(--white);
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
}

.contact-section-description {
    color: var(--grey--text);
    font-size: 24px;
    font-weight: 400;
    line-height: 50px;
}

/* Footer Starts */
.footer-container {
  display: flex;
  padding: 50px 130px 20px 130px;
  flex-direction: column;
  align-items: flex-start;
  align-items: center;
  align-self: stretch;
}

.footer-link-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.footer-items > ul {
  list-style: none;
  display: flex;
  align-items: flex-start;
  gap: 42.667px;
  text-decoration: none;
}

.footer-items ul > li > a {
  text-decoration: none;
}

.footer-social--icon > ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
  flex-shrink: 0;
  text-decoration: none;
}

.divider {
  margin: 10px 0 15px;
  height: 1.333px;
  width: 100%;
  background: rgba(40, 41, 56, 0.55);
}

.footer-content-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.footer-content {
  color: var(--black);
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
}


/* Responsive Screens */

  @media only screen and (max-width: 1200px) {
    .instructor-section-heading, 
    .course-section-heading, 
    .about-section-title, 
    .contact-section-title{
      font-size: 40px;
      line-height: 56px;
    }

    .instructor-section-heading {
      padding-bottom: 30px;
    }
    .instructor-section-container, 
    .course-section-container {
      gap: 16px;
    }
    .instructor-section-card, 
    .course-section-card {
      gap: 28px;
    }
    .instructor-section-card-content, 
    .course-section-card-content {
      gap: 15px;
    }
    .instructor-section-title, 
    .course-section-title {
      font-size: 23px;
      line-height: 30px;
    }

    .course-section-title {
      padding-top: 0px;
    }
    .contact-section-description {
      font-size: 23px;
      line-height: 32px;
    }

    .fields-title,
    .hero-section-description, 
    .instructor-section-description, 
    .course-section-description,
    .course-section-material, 
    .about-section-description {
      font-size: 17.333px;
      line-height: 27px;
    }
    .footer-container {
      padding-left: 20px;
      padding-right: 20px;
    }

  }
  
  @media only screen and (max-width: 1200px) {
    .btn-outline-primary {
      display: none;
    }

    .footer-items {
      display: none;
    }
    
    .hero-section {
      display: block;
      flex-direction: column-reverse;
      padding-bottom: 70px;
      padding-left: 40px;
      padding-right: 40px;
    }

    .hero-section-img > img {
      width: 90%;
    }

    .about-section-title,
    .hero-section-title,
    .hero-section-description,
    .footer-content {
      text-align: center;
    }

    .fields-section-container {
      display: grid;
      grid-template-columns: repeat(2,1fr);
      max-width: 20%;
      padding-bottom: 50px;
      /* margin-left: auto;
      margin-right: auto; */
      justify-content: center;
    }

    .fields-section-img img{
      max-width: 100%;
      height: auto;
      align-self: center;
    }

    .fields-section-img {
      width: auto;
      height: auto;
      align-items: center;
      justify-content: center;
      margin-left: auto;
      margin-right: auto;
    }

    .fields-section-card {
      align-items: center !important;
      justify-content: center !important;
    }

    .instructor-section-container,
    .about-section,
    .course-section-container,
    .course-container-box,
    .instructor-section-container,
    .instructor-container-box,
    .footer-link-container,
    .footer-content-container {
      display: flex;
      flex-direction: column;
    }
    .instructor-section,
    .course-section,
    .course-container,
    .hero-section-content,
    .hero-section-content-box {
      align-items: center;
    }
    .portfolio-container-box {
      gap: 30px;
    }
    .instructor-section,
    .course-section,
    .about-section,
    .contact-section,
    .footer-container {
      gap: 20px;
      padding-top: 70px;
      padding-bottom: 70px;
    }

    .course-section,
    .instructor-section {
      padding-left: 30px;
      padding-right: 30px;
    }

    .contact-section-content {
      padding: 0px 10px 0px 10%;
    }
    
    .about-section {
      gap: 20px;
      padding: 40px 40px 30px 40px;
    }
    .hero-section-title,
    .course-section-heading,
    .instructor-section-heading,
    .sections-heading {
      font-size: 35px;
      line-height: 40px;
    }
    .hero-section-content-box {
      gap: 10px;
      padding-top: 30px;
    }
    .container {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }
  
  /* Hamburger menu  */
  
  .nav_burger {
    display: none;
    width: 1.875rem;
    height: 1.313rem;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    top: 15px;
    right: 25px;
  }
  
  .nav_burger_line {
    display: block;
    height: 0.188rem;
    width: 100%;
    background-color: #000000;
    border-radius: 0.625rem;
    transition: all ease-in-out 0.2s;
  }
  
  @media screen and (max-width: 1200px) {
    .nav_burger {
      display: flex;
      z-index: 200;
    }

    .navbar {
      padding-left: 15px;
      max-height: 50vh;
    }
    .navbar-items {
      display: flex;
    }
    .navbar-items {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgba(255, 255, 255);
      top: -50rem;
      left: 0;
      width: 100%;
      transition: all ease-in-out 0.4s;
    }
    .navbar-items ul {
      flex-direction: column;
      align-items: center;
      width: 100%;
      padding: 3rem 0 0.6rem;
      z-index: -100;
    }
    .navbar-items ul li {
      text-align: center;
    }
    .navbar-items ul li a {
      padding: 0.5rem;
    }
    .navbar-items {
      z-index: -1000;
    }
    .navbar-items.active {
      top: 30px;
    }
    .nav_burger.active :nth-child(1) {
      transform: rotate(45deg) translate(0.45rem, 0.1875rem);
    }
  
    .nav_burger.active :nth-child(2) {
      opacity: 0;
    }
  
    .nav_burger.active :nth-child(3) {
      transform: rotate(-45deg) translate(0.45rem, -0.1875rem);
    }
  }

  /* Responsive Screens Ends */
